/*
Tecnicas BEM para escritura de codigo escalable y limpio

B - Bloque (Componente independiente y reutilizable). Ej: <div class="box">
E - Elemento (Parte del bloque, no tiene sentido por sí solo). Ej: <h1 class="box__title">
M - Modificador (Variante de un bloque o elemento). Ej: <h1 class="box__title--strong">
*/

@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*original colors*/
/*
:root{
  --color-back-primary: #000000;
  --color-back-secondary: #191818;
  --color-back-terciary: #272727;
  --color-primary: #FFFFFF;
  --color-secondary: #22d4fd;
  --color-terciary: #ffff00;
  --color-quaternary: #FFC107;
  --color-quinary: #cc5ffe;
  --font-primary: Montserrat, sans-serif;
  --font-secondary: Krona One, sans-serif;
}*/

/* Opcion tema oscuro oceanico*/
:root {
  --color-back-primary: #0b132b;
  --color-back-secondary: #1c2541;
  --color-back-terciary: #3a506b;
  --color-primary: #ffffff;
  --color-secondary: #6fffe9;
  --color-terciary: #ffff00;
  --color-quaternary: #ffc107;
  --color-quinary: #cc5ffe;
  --font-primary: Montserrat, sans-serif;
  --font-secondary: Krona One, sans-serif;
}

/* Opcion tema oscuro violeta*/
/*
:root{
  --color-back-primary: #10002B;
  --color-back-secondary: #240046;
  --color-back-terciary: #5A189A;
  --color-primary: #FFFFFF;
  --color-secondary: #E0AAFF;
  --color-terciary: #ffff00;
  --color-quaternary: #FFC107;
  --color-quinary: #4a96ff;
  --font-primary: Montserrat, sans-serif;
  --font-secondary: Krona One, sans-serif;
}
*/

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-back-primary);
  color: var(--color-primary);
  font-family: var(--font-secondary);
  margin-top: 0.3rem;
}

/*linea separadora*/
hr {
  display: block;
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid var(--color-secondary);
  margin: 1em 0;
  padding: 0;
}

.header {
  padding: 1vw 0vw 2vw 11vw;
  background-color: var(--color-back-secondary);
}

@media (max-width: 420px) {
  .header {
    display: flex;
    margin-left: -1.5rem;
  }
}

@media (min-width: 900px) {
  .header {
    padding: 1vw 0vw 2vw 22vw;
  }
}
.header__menu {
  background-color: var(--color-back-secondary);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* alinear elementos al inicio */
  padding-top: 3%;
  gap: 0.5vw;
}

.header__menu__link {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  text-decoration: none;
  width: 110px;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.header__menu__link:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  max-width: 100vw;
  /*min-height: 90vh;*/
  box-sizing: content-box;
  background-color: var(--color-back-primary);
  border-style: none;
  padding-bottom: 1rem; /*agrega espacio por debajo entre border y content*/
  margin-top: 1rem;
}

.cv__main {
  flex-direction: row;
}

@media (max-width: 720px) {
  .main {
    flex-direction: column-reverse;
  }
  .cv__main {
    flex-direction: row;
  }
}

.main__content,
.main__cv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30vw;
  max-width: 30vw;
  min-width: 320px;
  min-height: 70px;
  text-align: justify;
  justify-content: center;
  align-content: center;
  /*margin: 90px 0px 0px; /*der_izq px | arriba px | abajo*/
  box-sizing: border-box;
}

/* curriculum */
.main__cv {
  width: auto;
  max-width: 80vw;
  margin: 0px 10px 0px;
  border-style: solid;
  border-color: var(--color-secondary);
  background-color: transparent;
  border-radius: 11px;
  padding: 0.75rem 0.6rem;
}

.main__title {
  font-size: 1.1rem;
  font-weight: lighter;
}
.main__text {
  font-family: var(--font-primary);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
  text-justify: auto;
  line-height: 1.5;
}

.main__text--justify {
  text-align: justify;
}

.main__text.main__text--listar {
  margin-left: -15px; /* reduce la sangria en <ul><li>*/
}
.main__text__strong {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 5px;
  text-decoration: none;
}
.main__text__strong--A {
  color: var(--color-terciary);
}

.main__text__strong--B {
  color: var(--color-quaternary);
}

.main__text__strong--C {
  color: var(--color-quinary);
}

.main__text__strong--hover:hover {
  color: var(--color-secondary);
}

.main__title--second {
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 60%;
}

.main__strong {
  color: var(--color-secondary);
}

.main__buttons--cv {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.main__buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 0.5rem;
}

.button__link {
  font-family: var(--font-primary);
  font-weight: 600; /*semiBold*/
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-primary);
}
.button__link:hover {
  color: var(--color-secondary);
}
.button {
  border-color: var(--color-secondary);
  background-color: transparent;
  border-style: solid;
  border-radius: 11px;
  padding: 0.75rem 0.6rem;
  cursor: pointer;
  width: 60%;
  gap: 0.9rem;
  justify-content: center; /* Alinea los elementos en el centro horizontal */
  align-items: center; /* Alinea los elementos en el centro vertical */
  display: flex;
  text-decoration: none;
}

.button--cv {
  width: 220px;
}

.button:hover {
  background-color: var(--color-primary);
}

.button:hover .button__link {
  color: var(--color-back-primary);
  font-weight: bolder;
}

.main__text--soyAna {
  color: var(--color-quaternary);
}

.main__img--ana {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main__img--nico {
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-secondary);
  object-fit: contain;
}

.main__image--container {
  width: 20vw;
  max-width: 30vw;
  min-width: 250px;
  min-height: 70px;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*Con esto subo la imagen sin afectar el wrap del flexbos al bajar la resolucion*/
@media (min-width: 720px) {
  .main__image--container {
    position: relative;
    top: -100px;
  }
}

.section__box {
  flex-direction: column;
  box-sizing: border-box;
}

.main__title.section__title {
  text-align: center;
}

.footer {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 15px;
  background-color: var(--color-secondary);
  color: var(--color-back-primary);
}
/*iconos*/
.button__icon {
  background-size: 1.5rem 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}

.button__icon.github {
  background-image: url("../assets/github.png");
}

.button__icon.linkedin {
  background-image: url("../assets/linkedin.png");
}

.button__icon.twitch {
  background-image: url("../assets/twitch.png");
}

.button__icon.linkedin--animado {
  background-image: url("../assets/ln.png");
}

.button__icon.youtube {
  background-image: url("../assets/yt.png");
}

.button__icon.cafe {
  background-image: url("../assets/cafe.png");
}

.button__icon.proyecto {
  background-image: url("../assets/proyecto.png");
}

.button__icon.mail {
  background-image: url("../assets/mail.png");
}

.button__icon.cv {
  background-image: url("../assets/cv.png");
}
.button.button--cv.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
